<!-- carousel for image slide -->
<div class="container">
    <ng-container *ngIf="slides.length <= 0">
        <p class="text-danger">No Slide to Show</p>
    </ng-container>

    <ng-container *ngIf="slides.length > 0">

        <h1>Angular Craousel</h1>
        <br>
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let slide of slides; index as i">
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" [src]="slide.imgSrc" alt="slide - {{i+1}}" />
                </div>
                <div class="carousel-caption">
                    <h3>
                        <blockquote>{{slide.imgCaption}}</blockquote>
                    </h3>
                </div>
            </ng-template>
        </ngb-carousel>
        <br>

    </ng-container>

    <!-- image slide list -->
    <ng-container *ngIf="slides.length > 0">
        <h3>Added slides </h3>
        <ul>
            <li *ngFor="let slide of slides;index as i"> Slide - {{i+1}} <i class="fa-solid fa-trash-can" (click)="deleteSlide(i)"></i></li>
        </ul>
    </ng-container>


    <!-- image slide form -->

    <ng-container>
        <form [formGroup]="imageForm" (ngSubmit)="onSubmit(); imageForm.reset()">

            <h3>Add new slide </h3>
            <div class="form-group">
                <label for="imgSrc">Image URL <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="imgSrc" id="imgSrc" placeholder="https://i.picsum.photos/id/552/900/500.jpg" formControlName="imageSrc" required [class.is-valid]="imageFormControls['imageSrc'].valid && imageFormControls['imageSrc'].touched"
                    [class.is-invalid]="imageFormControls['imageSrc'].invalid && imageFormControls['imageSrc'].touched">
                <small class="text-danger" *ngIf="imageFormControls['imageSrc'].errors?.['required'] && imageFormControls['imageSrc'].touched">Enter a image Url</small>
            </div>
            <div class="form-group">
                <label for="imgCaption">Slide Caption <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="imgCaption" id="imgCaption" placeholder="Singapore is another great hosting city" formControlName="imageCaption" required [class.is-valid]="imageFormControls['imageCaption'].valid && imageFormControls['imageCaption'].touched"
                    [class.is-invalid]="imageFormControls['imageCaption'].invalid && imageFormControls['imageCaption'].touched">
                <small class="text-danger" *ngIf="imageFormControls['imageCaption'].errors?.['required'] && imageFormControls['imageCaption'].touched">Enter a Slide Caption</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="imageForm.invalid">Add slide</button>

            </div>

        </form>
    </ng-container>
</div>